SDKs/
work/
built/
sources/
config.site
x86_64*
i686*
mips*
arm*
aarch64*
riscv32*
riscv64*

# mobile architectures
aarch64-linux-android*
armv7a-linux-androideabi*
i686-linux-android*
riscv64-linux-android*
x86_64-linux-android*
